{% extends 'base.html' %}

{% block content %}

<h1 style="text-decoration:underline ;color:brown">Products List</h1>


&thinsp;&thinsp;<b style="color:red"> Product Id &emsp; Product Title</b> <hr>

{% for instances in object_list %}
<p> &emsp;&nbsp;{{instances.id}}: &emsp;&emsp;&emsp;&emsp;<a href="{{ instances.get_absolute_url }}" style="text-decoration: none"> {{instances.title}} </a></p>
{% endfor %}

<br>
<p><b><a href="create/" style="text-decoration:none; color:blue" >&thinsp;&thinsp;&thinsp;< Create new Product ></a></b></p>
<p>** click on 'Product Title' for more details</p>

{% endblock %}
